PROYECTO 1 | WEB SCRAPING BÁSICO CON PANDAS

In [ ]:
# Para Web Scraping con Python, normalmente habría que usar:
 # Libreria SELINIUM / SCRAPY / BEAUTIFULSOUP

In [ ]:
# Web Scraping > extraer archivos de páginas web que con buble FOR, se adquiere mayor funcionalidad

# Leer .csv de un URL con Pandas

In [1]:
import pandas as pd

In [3]:
# Leer 1 archivo csv de un website
# WEb> https://www.football-data.co.uk/data.php
df_premier22 = pd.read_csv('https://www.football-data.co.uk/mmz4281/2223/E0.csv')

In [4]:
# Mostrar Dataframe
df_premier22

,Div,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,AvgC<2.5,AHCh,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA
0,E0,05/08/2022,20:00,Crystal Palace,Arsenal,0,2,A,0,1,...,1.76,0.50,2.09,1.84,2.04,1.88,2.09,1.88,2.03,1.85
1,E0,06/08/2022,12:30,Fulham,Liverpool,2,2,D,1,0,...,2.73,1.75,1.90,2.03,1.91,2.02,2.01,2.06,1.89,1.99
2,E0,06/08/2022,15:00,Bournemouth,Aston Villa,2,0,H,1,0,...,1.76,0.50,1.93,2.00,1.93,2.00,1.94,2.04,1.88,2.00
3,E0,06/08/2022,15:00,Leeds,Wolves,2,1,H,1,1,...,1.87,-0.25,2.08,1.85,2.10,1.84,2.14,1.87,2.08,1.81
4,E0,06/08/2022,15:00,Newcastle,Nott'm Forest,2,0,H,0,0,...,1.89,-1.00,1.97,1.96,1.99,1.93,2.19,1.97,2.03,1.86
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
62,E0,17/09/2022,12:30,Wolves,Man City,0,3,A,0,2,...,2.41,1.50,1.95,1.95,1.98,1.94,2.07,2.00,1.93,1.94
63,E0,17/09/2022,15:00,Newcastle,Bournemouth,1,1,D,0,0,...,2.13,-1.25,1.94,1.96,1.96,1.96,1.97,2.01,1.93,1.94
64,E0,17/09/2022,17:30,Tottenham,Leicester,6,2,H,2,2,...,2.40,-1.00,1.88,2.02,1.91,2.02,1.92,2.09,1.84,2.05
65,E0,18/09/2022,12:00,Brentford,Arsenal,0,3,A,0,2,...,2.09,0.75,1.83,2.07,1.84,2.08,1.99,2.12,1.86,2.02
66,E0,18/09/2022,14:15,Everton,West Ham,1,0,H,0,0,...,1.80,0.00,2.08,1.73,2.10,1.84,2.15,1.85,2.08,1.80

In [10]:
# Cambiar nombre de columnas / 
# Cambiamos nombre de columnas abreviadas por nombres mas largos y aclaratorioss
df_premier22.rename(columns={'Date':'date',
                            'Hometeam':'home_team',
                            'AwayTeam':'awayteam',
                            'FTHG':'home_goals',
                             'FTAG':'away_goals'}, inplace=True)

In [9]:
# Mostrar Dataframe
df_premier22

,Div,date,Time,HomeTeam,awayteam,home_goals,away_goals,FTR,HTHG,HTAG,...,AvgC<2.5,AHCh,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA
0,E0,05/08/2022,20:00,Crystal Palace,Arsenal,0,2,A,0,1,...,1.76,0.50,2.09,1.84,2.04,1.88,2.09,1.88,2.03,1.85
1,E0,06/08/2022,12:30,Fulham,Liverpool,2,2,D,1,0,...,2.73,1.75,1.90,2.03,1.91,2.02,2.01,2.06,1.89,1.99
2,E0,06/08/2022,15:00,Bournemouth,Aston Villa,2,0,H,1,0,...,1.76,0.50,1.93,2.00,1.93,2.00,1.94,2.04,1.88,2.00
3,E0,06/08/2022,15:00,Leeds,Wolves,2,1,H,1,1,...,1.87,-0.25,2.08,1.85,2.10,1.84,2.14,1.87,2.08,1.81
4,E0,06/08/2022,15:00,Newcastle,Nott'm Forest,2,0,H,0,0,...,1.89,-1.00,1.97,1.96,1.99,1.93,2.19,1.97,2.03,1.86
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
62,E0,17/09/2022,12:30,Wolves,Man City,0,3,A,0,2,...,2.41,1.50,1.95,1.95,1.98,1.94,2.07,2.00,1.93,1.94
63,E0,17/09/2022,15:00,Newcastle,Bournemouth,1,1,D,0,0,...,2.13,-1.25,1.94,1.96,1.96,1.96,1.97,2.01,1.93,1.94
64,E0,17/09/2022,17:30,Tottenham,Leicester,6,2,H,2,2,...,2.40,-1.00,1.88,2.02,1.91,2.02,1.92,2.09,1.84,2.05
65,E0,18/09/2022,12:00,Brentford,Arsenal,0,3,A,0,2,...,2.09,0.75,1.83,2.07,1.84,2.08,1.99,2.12,1.86,2.02
66,E0,18/09/2022,14:15,Everton,West Ham,1,0,H,0,0,...,1.80,0.00,2.08,1.73,2.10,1.84,2.15,1.85,2.08,1.80

# Leer .csv de Multiples URLs con PANDAS

· https://www.football-data.co.uk/mmz4281/2223/E0.csv
· https://www.football-data.co.uk/mmz4281/2223/E1.csv

Link: root + season + league

In [1]:
# Estructura de un link
"https://www.football-data.co.uk/mmz4281/" + "2223" + "/" + "E0" + ".csv"

'https://www.football-data.co.uk/mmz4281/2223/E0.csv'

In [2]:
# Crear Variable root
root = "https://www.football-data.co.uk/mmz4281/"

## Multiples ligas

· https://www.football-data.co.uk/mmz4281/2223/E0.csv
· https://www.football-data.co.uk/mmz4281/2223/E1.csv
· https://www.football-data.co.uk/mmz4281/2223/E2.csv
· https://www.football-data.co.uk/mmz4281/2223/E3.csv
· https://www.football-data.co.uk/mmz4281/2223/EC.csv

In [3]:
# cear lista de ligas
# y para concatenar cadena de texto con variables
import pandas as pd

leagues = ['E0', 'E1', 'E2', 'E3', 'EC']
frames = []

for league in leagues:
    df = pd.read_csv( root + '2223' + '/' + league + '.csv', encoding='unicode_escape')
    frames.append(df)
    
# al hacer bucle for el valor de DF se va a sobreescribir, pero no es lo que queremos.
#lo que queremos es que se guarden cada Df en cada iteración.
# para eso usamos metodo Append para guardar df en una lista vacía frames. conseguiremos guardar cada DF en la iteración.

In [26]:
# Tamaño de los frames
frames

[   Div        Date   Time        HomeTeam       AwayTeam  FTHG  FTAG FTR  \
 0   E0  05/08/2022  20:00  Crystal Palace        Arsenal     0     2   A
 1   E0  06/08/2022  12:30          Fulham      Liverpool     2     2   D
 2   E0  06/08/2022  15:00     Bournemouth    Aston Villa     2     0   H
 3   E0  06/08/2022  15:00           Leeds         Wolves     2     1   H
 4   E0  06/08/2022  15:00       Newcastle  Nott'm Forest     2     0   H
 ..  ..         ...    ...             ...            ...   ...   ...  ..
 62  E0  17/09/2022  12:30          Wolves       Man City     0     3   A
 63  E0  17/09/2022  15:00       Newcastle    Bournemouth     1     1   D
 64  E0  17/09/2022  17:30       Tottenham      Leicester     6     2   H
 65  E0  18/09/2022  12:00       Brentford        Arsenal     0     3   A
 66  E0  18/09/2022  14:15         Everton       West Ham     1     0   H

     HTHG  HTAG  ... AvgC<2.5  AHCh  B365CAHH  B365CAHA  PCAHH  PCAHA  MaxCAHH  \
 0      0     1  ...     1.76  0.50      2.09      1.84   2.04   1.88     2.09
 1      1     0  ...     2.73  1.75      1.90      2.03   1.91   2.02     2.01
 2      1     0  ...     1.76  0.50      1.93      2.00   1.93   2.00     1.94
 3      1     1  ...     1.87 -0.25      2.08      1.85   2.10   1.84     2.14
 4      0     0  ...     1.89 -1.00      1.97      1.96   1.99   1.93     2.19
 ..   ...   ...  ...      ...   ...       ...       ...    ...    ...      ...
 62     0     2  ...     2.41  1.50      1.95      1.95   1.98   1.94     2.07
 63     0     0  ...     2.13 -1.25      1.94      1.96   1.96   1.96     1.97
 64     2     2  ...     2.40 -1.00      1.88      2.02   1.91   2.02     1.92
 65     0     2  ...     2.09  0.75      1.83      2.07   1.84   2.08     1.99
 66     0     0  ...     1.80  0.00      2.08      1.73   2.10   1.84     2.15

     MaxCAHA  AvgCAHH  AvgCAHA
 0      1.88     2.03     1.85
 1      2.06     1.89     1.99
 2      2.04     1.88     2.00
 3      1.87     2.08     1.81
 4      1.97     2.03     1.86
 ..      ...      ...      ...
 62     2.00     1.93     1.94
 63     2.01     1.93     1.94
 64     2.09     1.84     2.05
 65     2.12     1.86     2.02
 66     1.85     2.08     1.80

 [67 rows x 106 columns],
     Div        Date   Time       HomeTeam          AwayTeam  FTHG  FTAG FTR  \
 0    E1  29/07/2022  20:00   Huddersfield           Burnley     0     1   A
 1    E1  30/07/2022  15:00      Blackburn               QPR     1     0   H
 2    E1  30/07/2022  15:00      Blackpool           Reading     1     0   H
 3    E1  30/07/2022  15:00        Cardiff           Norwich     1     0   H
 4    E1  30/07/2022  15:00           Hull      Bristol City     2     1   H
 ..   ..         ...    ...            ...               ...   ...   ...  ..
 112  E1  17/09/2022  15:00        Preston  Sheffield United     0     2   A
 113  E1  17/09/2022  15:00            QPR             Stoke     0     0   D
 114  E1  17/09/2022  15:00        Watford        Sunderland     2     2   D
 115  E1  17/09/2022  15:00          Wigan           Reading     0     1   A
 116  E1  17/09/2022  19:45  Middlesbrough         Rotherham     0     0   D

      HTHG  HTAG  ... AvgC<2.5  AHCh  B365CAHH  B365CAHA  PCAHH  PCAHA  \
 0       0     1  ...     1.63  0.00      2.09      1.81   2.10   1.82
 1       1     0  ...     1.86 -0.50      1.99      1.91   2.01   1.90
 2       1     0  ...     1.82 -0.50      2.08      1.82   2.06   1.86
 3       0     0  ...     1.71  0.25      2.01      1.89   2.00   1.90
 4       0     1  ...     1.73 -0.25      2.10      1.70   2.12   1.81
 ..    ...   ...  ...      ...   ...       ...       ...    ...    ...
 112     0     1  ...     1.61  0.25      1.68      2.15   1.74   2.21
 113     0     0  ...     1.84 -0.25      1.99      1.91   2.01   1.90
 114     1     1  ...     1.73 -0.50      1.99      1.91   2.00   1.91
 115     0     0  ...     1.61 -0.25      1.86      2.04   1.89   2.01
 116     0     0  ...     1.94 -1.00      2.05      1.75   2.12   1.79

      MaxCAHH  MaxCAHA  AvgCAHH  AvgCAHA
 0       2.14     1.83     2.09     1.78
 1       2.01     1.95     1.97     1.88
 2       2.11     1.86     2.04     1.82
 3       2.03     2.00     1.95     1.89
 4       2.17     1.81     2.09     1.77
 ..       ...      ...      ...      ...
 112     1.84     2.21     1.77     2.10
 113     2.03     1.94     1.97     1.87
 114     2.02     1.93     1.98     1.87
 115     1.89     2.12     1.80     2.06
 116     2.17     1.81     2.11     1.75

 [117 rows x 106 columns],
     Div        Date   Time        HomeTeam            AwayTeam  FTHG  FTAG  \
 0    E2  30/07/2022  15:00      Accrington            Charlton     2     2
 1    E2  30/07/2022  15:00     Bristol Rvs        Forest Green     1     2
 2    E2  30/07/2022  15:00       Cambridge  Milton Keynes Dons     1     0
 3    E2  30/07/2022  15:00      Cheltenham           Peterboro     2     3
 4    E2  30/07/2022  15:00           Derby              Oxford     1     0
 ..   ..         ...    ...             ...                 ...   ...   ...
 111  E2  24/09/2022  15:00       Morecambe           Cambridge     1     2
 112  E2  24/09/2022  15:00       Peterboro           Port Vale     3     0
 113  E2  24/09/2022  15:00  Sheffield Weds             Wycombe     3     1
 114  E2  24/09/2022  15:00      Shrewsbury              Burton     2     1
 115  E2  25/09/2022  12:30        Plymouth             Ipswich     2     1

     FTR  HTHG  HTAG  ... AvgC<2.5  AHCh  B365CAHH  B365CAHA  PCAHH  PCAHA  \
 0     D     0     1  ...     1.92  0.00      2.05      1.75   2.08   1.83
 1     A     0     0  ...     1.75 -0.25      2.10      1.77   2.09   1.82
 2     H     1     0  ...     1.61  0.25      1.70      2.10   1.76   2.14
 3     A     2     0  ...     2.04  0.25      1.93      1.93   1.98   1.90
 4     H     0     0  ...     1.81 -0.25      1.75      2.05   1.79   2.10
 ..   ..   ...   ...  ...      ...   ...       ...       ...    ...    ...
 111   A     1     1  ...     1.70  0.00      1.88      1.98   1.89   2.00
 112   H     2     0  ...     1.86 -0.25      1.90      1.95   1.89   1.99
 113   H     2     1  ...     2.05 -1.00      2.05      1.80   2.11   1.78
 114   H     1     0  ...     1.65 -0.25      2.05      1.80   2.07   1.83
 115   H     0     1  ...     1.81  0.25      2.00      1.85   2.04   1.87

      MaxCAHH  MaxCAHA  AvgCAHH  AvgCAHA
 0       2.16     1.83     2.06     1.77
 1       2.13     1.82     2.07     1.76
 2       1.86     2.14     1.78     2.05
 3       1.98     1.99     1.89     1.92
 4       1.86     2.14     1.79     2.03
 ..       ...      ...      ...      ...
 111     2.00     2.02     1.86     1.95
 112     1.94     2.02     1.88     1.93
 113     2.14     1.84     2.07     1.76
 114     2.09     1.87     2.02     1.80
 115     2.04     1.90     1.97     1.85

 [116 rows x 106 columns],
     Div        Date   Time        HomeTeam      AwayTeam  FTHG  FTAG FTR  \
 0    E3  30/07/2022  15:00   AFC Wimbledon    Gillingham     2     0   H
 1    E3  30/07/2022  15:00        Bradford     Doncaster     0     0   D
 2    E3  30/07/2022  15:00        Carlisle  Crawley Town     1     0   H
 3    E3  30/07/2022  15:00       Harrogate       Swindon     3     0   H
 4    E3  30/07/2022  15:00   Leyton Orient       Grimsby     2     0   H
 ..   ..         ...    ...             ...           ...   ...   ...  ..
 115  E3  24/09/2022  15:00  Newport County      Carlisle     1     1   D
 116  E3  24/09/2022  15:00       Stevenage     Harrogate     1     0   H
 117  E3  24/09/2022  15:00          Sutton       Salford     1     2   A
 118  E3  24/09/2022  15:00         Walsall      Tranmere     0     1   A
 119  E3  27/09/2022  19:45         Grimsby      Carlisle     1     2   A

      HTHG  HTAG  ... AvgC<2.5  AHCh  B365CAHH  B365CAHA  PCAHH  PCAHA  \
 0       1     0  ...     1.48 -0.25      2.05      1.80   2.09   1.81
 1       0     0  ...     1.94 -0.75      1.90      1.95   1.90   1.99
 2       1     0  ...     1.77  0.00      1.80      2.05   1.88   2.02
 3       1     0  ...     2.11  0.25      1.77      2.10   1.77   2.14
 4       0     0  ...     1.66 -0.25      1.80      2.05   1.79   2.10
 ..    ...   ...  ...      ...   ...       ...       ...    ...    ...
 115     1     0  ...     1.67 -0.25      1.90      1.95   1.93   1.96
 116     0     0  ...     1.83 -0.75      1.80      2.05   1.85   2.05
 117     0     0  ...     1.73 -0.25      2.02      1.83   2.03   1.87
 118     0     0  ...     1.56 -0.25      1.90      1.95   1.89   1.99
 119     0     2  ...     1.67 -0.25      2.02      1.83   2.01   1.89

      MaxCAHH  MaxCAHA  AvgCAHH  AvgCAHA
 0       2.13     1.81     2.06     1.76
 1       1.96     1.99     1.90     1.91
 2       1.88     2.11     1.79     2.03
 3       1.84     2.14     1.76     2.06
 4       1.86     2.10     1.80     2.02
 ..       ...      ...      ...      ...
 115     1.96     2.02     1.89     1.91
 116     1.85     2.12     1.79     2.01
 117     2.06     1.87     1.99     1.81
 118     1.95     2.00     1.87     1.93
 119     2.09     1.93     1.96     1.85

 [120 rows x 106 columns],
     Div        Date   Time     HomeTeam      AwayTeam  FTHG  FTAG FTR  HTHG  \
 0    EC  06/08/2022  15:00    Aldershot      Solihull     1     4   A     1
 1    EC  06/08/2022  15:00   Altrincham     Maidstone     1     1   D     1
 2    EC  06/08/2022  15:00       Barnet       Halifax     2     0   H     1
 3    EC  06/08/2022  15:00  Dag and Red     Gateshead     2     2   D     1
 4    EC  06/08/2022  15:00      Dorking  Chesterfield     2     2   D     0
 ..   ..         ...    ...          ...           ...   ...   ...  ..   ...
 115  EC  24/09/2022  15:00   Wealdstone      Southend     0     1   A     0
 116  EC  24/09/2022  15:00       Woking      Solihull     2     0   H     1
 117  EC  24/09/2022  15:00      Wrexham       Torquay     6     0   H     3
 118  EC  24/09/2022  15:00       Yeovil  Boreham Wood     1     1   D     1
 119  EC  24/09/2022  15:00         York  Notts County     1     3   A     1

      HTAG  ... AvgC<2.5  AHCh  B365CAHH  B365CAHA  PCAHH  PCAHA  MaxCAHH  \
 0       2  ...     2.03  0.75      1.93      1.88   1.93   1.92     1.94
 1       1  ...     2.00 -0.25      1.93      1.88   1.94   1.91     1.96
 2       0  ...     2.07  0.25      1.85      1.95   1.86   1.99     1.88
 3       2  ...     2.10 -0.50      1.88      1.93   1.93   1.93     1.93
 4       2  ...     2.25  0.25      1.95      1.85   1.95   1.89     2.01
 ..    ...  ...      ...   ...       ...       ...    ...    ...      ...
 115     0  ...     1.70  0.25      1.80      2.00   1.81   2.06     1.85
 116     0  ...     2.08  0.00      2.00      1.80   2.03   1.83     2.04
 117     0  ...     3.22 -2.25      1.90      1.90   1.91   1.93     1.95
 118     1  ...     1.60  0.25      1.85      1.95   1.86   1.99     1.88
 119     2  ...     1.90  0.75      2.00      1.80   2.06   1.81     2.11

      MaxCAHA  AvgCAHH  AvgCAHA
 0       1.98     1.89     1.88
 1       1.92     1.91     1.87
 2       2.00     1.84     1.92
 3       2.02     1.85     1.92
 4       1.89     1.92     1.85
 ..       ...      ...      ...
 115     2.06     1.80     1.97
 116     1.84     1.98     1.80
 117     1.93     1.90     1.86
 118     2.01     1.82     1.95
 119     1.81     2.02     1.76

 [120 rows x 98 columns]]

In [27]:
# mostrar longitud, muestra un dataframe por cada elemento de la lista leagues
len(frames)

5

In [29]:
# ahora poder ver uno solo de nuestros DF utilizamos la indexación 
# mostrar 1er, 2o, 3er elemento
frames[4]

,Div,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,AvgC<2.5,AHCh,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA
0,EC,06/08/2022,15:00,Aldershot,Solihull,1,4,A,1,2,...,2.03,0.75,1.93,1.88,1.93,1.92,1.94,1.98,1.89,1.88
1,EC,06/08/2022,15:00,Altrincham,Maidstone,1,1,D,1,1,...,2.00,-0.25,1.93,1.88,1.94,1.91,1.96,1.92,1.91,1.87
2,EC,06/08/2022,15:00,Barnet,Halifax,2,0,H,1,0,...,2.07,0.25,1.85,1.95,1.86,1.99,1.88,2.00,1.84,1.92
3,EC,06/08/2022,15:00,Dag and Red,Gateshead,2,2,D,1,2,...,2.10,-0.50,1.88,1.93,1.93,1.93,1.93,2.02,1.85,1.92
4,EC,06/08/2022,15:00,Dorking,Chesterfield,2,2,D,0,2,...,2.25,0.25,1.95,1.85,1.95,1.89,2.01,1.89,1.92,1.85
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
115,EC,24/09/2022,15:00,Wealdstone,Southend,0,1,A,0,0,...,1.70,0.25,1.80,2.00,1.81,2.06,1.85,2.06,1.80,1.97
116,EC,24/09/2022,15:00,Woking,Solihull,2,0,H,1,0,...,2.08,0.00,2.00,1.80,2.03,1.83,2.04,1.84,1.98,1.80
117,EC,24/09/2022,15:00,Wrexham,Torquay,6,0,H,3,0,...,3.22,-2.25,1.90,1.90,1.91,1.93,1.95,1.93,1.90,1.86
118,EC,24/09/2022,15:00,Yeovil,Boreham Wood,1,1,D,1,1,...,1.60,0.25,1.85,1.95,1.86,1.99,1.88,2.01,1.82,1.95
119,EC,24/09/2022,15:00,York,Notts County,1,3,A,1,2,...,1.90,0.75,2.00,1.80,2.06,1.81,2.11,1.81,2.02,1.76

## Multiples temporadas

In [11]:
for season in range(16, 22):
    print(season)

16
17
18
19
20
21

In [ ]:
#con la variable season podemos unir la variable 2223 en un solo cadena texto añadiendo
#str(season)

In [4]:
# crear lista de ligas
leagues = ['E0', 'E1', 'E2', 'E3', 'EC']
frames = []
# Hacer loop a un rango de temporadas e insertar una nueva columna

for league in leagues:
    for season in range(16, 22):
        df = pd.read_csv( root + str(season) + str(season+1) + '/' + league + '.csv', encoding='unicode_escape')
           df.insert(1, 'season', season)
            frames.append(df)
            
# en el dataframe no aparece ninguna columna que indique a temporada pertenecen los datos de los dataframe. 
# creamos una columna con metodo insert, para que esté la columna en un index especifico

In [13]:
# Para simplicar el ejercicio, resumo las ligas a 3 en vez de 5.
leagues = ['E0', 'E2', 'E3']
frames = []
# Hacer loop a un rango de temporadas e insertar una nueva columna

for league in leagues:
    for season in range(16, 22):
        df = pd.read_csv( root + str(season) + str(season+1) + '/' + league + '.csv', encoding='unicode_escape')
        df.insert(1, 'season', season)
        frames.append(df)

In [14]:
# total de frames (6 temporadas x 3 ligas)
len(frames)

18

In [15]:
# mostrar 1er y ultimo elemento (Columna season creada)
frames[0]

,Div,season,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,BbAv<2.5,BbAH,BbAHh,BbMxAHH,BbAvAHH,BbMxAHA,BbAvAHA,PSCH,PSCD,PSCA
0,E0,16,13/08/16,Burnley,Swansea,0,1,A,0,0,...,1.61,32,-0.25,2.13,2.06,1.86,1.81,2.79,3.16,2.89
1,E0,16,13/08/16,Crystal Palace,West Brom,0,1,A,0,0,...,1.52,33,-0.50,2.07,2.00,1.90,1.85,2.25,3.15,3.86
2,E0,16,13/08/16,Everton,Tottenham,1,1,D,1,0,...,1.77,32,0.25,1.91,1.85,2.09,2.00,3.64,3.54,2.16
3,E0,16,13/08/16,Hull,Leicester,2,1,H,1,0,...,1.67,31,0.25,2.35,2.26,2.03,1.67,4.68,3.50,1.92
4,E0,16,13/08/16,Man City,Sunderland,2,1,H,1,0,...,2.48,34,-1.50,1.81,1.73,2.20,2.14,1.25,6.50,14.50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375,E0,16,21/05/17,Liverpool,Middlesbrough,3,0,H,1,0,...,2.73,18,-2.50,2.02,1.97,1.95,1.90,1.15,10.50,19.09
376,E0,16,21/05/17,Man United,Crystal Palace,2,0,H,2,0,...,1.81,19,-0.25,2.19,2.11,1.85,1.79,2.35,3.38,3.35
377,E0,16,21/05/17,Southampton,Stoke,0,1,A,0,0,...,2.01,18,-0.75,2.03,1.98,1.93,1.88,1.64,4.37,5.53
378,E0,16,21/05/17,Swansea,West Brom,2,1,H,0,1,...,1.98,19,-0.50,2.11,2.06,1.86,1.82,2.29,3.45,3.40
379,E0,16,21/05/17,Watford,Man City,0,5,A,0,4,...,2.80,18,1.75,1.99,1.94,2.00,1.93,18.00,9.70,1.16

In [17]:
frames[17]

,Div,season,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,...,AvgC<2.5,AHCh,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA
0,E3,21,07/08/2021,15:00,Carlisle,Colchester,0,0,D,0,...,1.57,-0.25,1.75,2.05,1.78,2.13,1.82,2.13,1.75,2.08
1,E3,21,07/08/2021,15:00,Exeter,Bradford,0,0,D,0,...,1.65,0.00,1.80,2.05,1.79,2.12,1.87,2.12,1.80,2.03
2,E3,21,07/08/2021,15:00,Forest Green,Sutton,2,1,H,1,...,1.60,-0.25,1.98,1.83,1.93,1.95,2.03,1.99,1.91,1.90
3,E3,21,07/08/2021,15:00,Harrogate,Rochdale,3,2,H,2,...,1.78,-0.25,1.90,1.95,1.90,1.98,1.94,1.98,1.88,1.94
4,E3,21,07/08/2021,15:00,Hartlepool,Crawley Town,1,0,H,0,...,1.68,-0.25,1.90,1.95,1.93,1.95,1.96,1.98,1.90,1.91
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
547,E3,21,07/05/2022,15:00,Mansfield,Forest Green,2,2,D,1,...,2.07,-0.25,1.80,2.05,1.84,2.06,1.91,2.06,1.85,1.97
548,E3,21,07/05/2022,15:00,Newport County,Rochdale,0,2,A,0,...,2.21,-0.50,1.88,1.98,1.88,2.02,1.96,2.02,1.90,1.91
549,E3,21,07/05/2022,15:00,Oldham,Crawley Town,3,3,D,2,...,2.30,0.00,1.90,1.95,1.89,2.00,1.99,2.02,1.91,1.91
550,E3,21,07/05/2022,15:00,Stevenage,Salford,4,2,H,2,...,2.01,0.00,1.85,2.00,1.88,2.01,1.97,2.04,1.89,1.92
551,E3,21,07/05/2022,15:00,Walsall,Swindon,0,3,A,0,...,2.07,0.75,1.98,1.88,1.97,1.92,2.02,1.98,1.91,1.91

# Organizar Datos en un diccionario | Método concat

In [18]:
# crear un diccionario con nombre original de liga como llave
dict_countries = {
                'Spanish La Liga' : 'SP1', 'Spanish Segunda Division' : 'SP2', 
                'German Bundesliga' : 'D1',
                'English Premier League' : 'E0', 'English League 1' : 'E2', 'English League 2' : 'E3'
                }

In [19]:
# obtener un elemento del diccionario
dict_countries['Spanish La Liga']

'SP1'

In [20]:
#  al imprimir bucle For de un diccionario nos devuelve la LLAVE
for league in dict_countries:
    print(league)

Spanish La Liga
Spanish Segunda Division
German Bundesliga
English Premier League
English League 1
English League 2

In [21]:
# al imprimir dict_countries[league], nos devuelve los valores
for league in dict_countries:
    print(dict_countries[league])

SP1
SP2
D1
E0
E2
E3

In [ ]:
# crear lista de ligas sobre el diccionario
leagues = ['E0', 'E2', 'E3']
frames = []
# Hacer loop a un rango de temporadas e insertar una nueva columna
# en el loop se cambió la sinstaxis a la diccionario para obtener los valores
for league in dict_countries:
    for season in range(16, 22):
        df = pd.read_csv( root + str(season) + str(season+1) + '/' + dict_countries[league] + '.csv', encoding='unicode_escape')
        df.insert(1, 'season', season)
        frames.append(df)

In [28]:
# ahora vamos a crear un nuevo diccionario donde guardar todos los dataframes
import pandas as pd
dic_historical_data = {}
# crear lista de ligas
# leagues = ['E0', 'E2', 'E3']
# si colocamos frames fuera del loop, pd.concat creará lista concatenada de todo las llaves del diccionario 
# si frames dentro del loop, solo obtendremos lista concatenada para las llaves concretas del diccionario.
# asi cada liga será independiente y la informacion de liga anterior no se refleja
# con dict_historical quedará un registro y así no se perderá la info.

for league in dict_countries:
    frames = []
    for season in range(16, 22):
        df = pd.read_csv( root + str(season) + str(season+1) + '/' + dict_countries[league] + '.csv', encoding='unicode_escape')
        df.insert(1, 'season', season)
        frames.append(df)
    df_concat = pd.concat(frames)
    dic_historical_data[league] = df_concat

In [30]:
# mostrar dataframe dentro de dic_historical_data
dic_historical_data.keys()

dict_keys(['Spanish La Liga', 'Spanish Segunda Division', 'German Bundesliga', 'English Premier League', 'English League 1', 'English League 2'])

In [31]:
dic_historical_data

{'Spanish La Liga':      Div  season        Date   HomeTeam    AwayTeam  FTHG  FTAG FTR  HTHG  \
 0    SP1      16    19/08/16  La Coruna       Eibar     2     1   H     0
 1    SP1      16    19/08/16     Malaga     Osasuna     1     1   D     0
 2    SP1      16    20/08/16  Barcelona       Betis     6     2   H     3
 3    SP1      16    20/08/16    Granada  Villarreal     1     1   D     0
 4    SP1      16    20/08/16    Sevilla     Espanol     6     4   H     3
 ..   ...     ...         ...        ...         ...   ...   ...  ..   ...
 375  SP1      21  22/05/2022    Granada     Espanol     0     0   D     0
 376  SP1      21  22/05/2022    Osasuna    Mallorca     0     2   A     0
 377  SP1      21  22/05/2022  Barcelona  Villarreal     0     2   A     0
 378  SP1      21  22/05/2022    Sevilla  Ath Bilbao     1     0   H     0
 379  SP1      21  22/05/2022   Sociedad  Ath Madrid     1     2   A     0

      HTAG  ... AvgC<2.5  AHCh  B365CAHH  B365CAHA  PCAHH  PCAHA  MaxCAHH  \
 0       0  ...      NaN   NaN       NaN       NaN    NaN    NaN      NaN
 1       0  ...      NaN   NaN       NaN       NaN    NaN    NaN      NaN
 2       1  ...      NaN   NaN       NaN       NaN    NaN    NaN      NaN
 3       0  ...      NaN   NaN       NaN       NaN    NaN    NaN      NaN
 4       3  ...      NaN   NaN       NaN       NaN    NaN    NaN      NaN
 ..    ...  ...      ...   ...       ...       ...    ...    ...      ...
 375     0  ...     2.29 -1.25      2.02      1.88   2.03   1.90     2.06
 376     0  ...     1.76  0.25      1.68      2.15   1.74   2.23     1.86
 377     1  ...     2.50 -0.50      2.07      1.83   2.08   1.85     2.09
 378     0  ...     1.69  0.00      2.01      1.89   2.02   1.90     2.07
 379     0  ...     1.66  0.00      1.91      1.99   1.89   2.01     1.95

      MaxCAHA  AvgCAHH  AvgCAHA
 0        NaN      NaN      NaN
 1        NaN      NaN      NaN
 2        NaN      NaN      NaN
 3        NaN      NaN      NaN
 4        NaN      NaN      NaN
 ..       ...      ...      ...
 375     2.05     1.97     1.90
 376     2.29     1.77     2.11
 377     2.00     1.97     1.91
 378     2.06     2.00     1.88
 379     2.04     1.90     1.98

 [2280 rows x 127 columns],
 'Spanish Segunda Division':      Div  season        Date    HomeTeam    AwayTeam  FTHG  FTAG FTR  HTHG  \
 0    SP2      16    19/08/16     Almeria       Cadiz     1     1   D   0.0
 1    SP2      16    19/08/16    Mirandes      Getafe     1     1   D   0.0
 2    SP2      16    20/08/16    Alcorcon      Huesca     0     0   D   0.0
 3    SP2      16    20/08/16     Cordoba    Tenerife     1     0   H   1.0
 4    SP2      16    20/08/16       Elche   Vallecano     2     1   H   2.0
 ..   ...     ...         ...         ...         ...   ...   ...  ..   ...
 457  SP2      21  29/05/2022     Leganes     Almeria     2     2   D   2.0
 458  SP2      21  29/05/2022      Oviedo       Ibiza     3     2   H   1.0
 459  SP2      21  29/05/2022    Sp Gijon  Las Palmas     0     1   A   0.0
 460  SP2      21  29/05/2022    Tenerife   Cartagena     1     2   A   0.0
 461  SP2      21  29/05/2022  Valladolid      Huesca     3     0   H   0.0

      HTAG  ... AvgC<2.5  AHCh  B365CAHH  B365CAHA  PCAHH  PCAHA  MaxCAHH  \
 0     0.0  ...      NaN   NaN       NaN       NaN    NaN    NaN      NaN
 1     0.0  ...      NaN   NaN       NaN       NaN    NaN    NaN      NaN
 2     0.0  ...      NaN   NaN       NaN       NaN    NaN    NaN      NaN
 3     0.0  ...      NaN   NaN       NaN       NaN    NaN    NaN      NaN
 4     1.0  ...      NaN   NaN       NaN       NaN    NaN    NaN      NaN
 ..    ...  ...      ...   ...       ...       ...    ...    ...      ...
 457   1.0  ...     1.84  0.75      1.77      2.10   1.83   2.09     1.88
 458   0.0  ...     2.03 -1.00      1.77      2.10   1.81   2.11     1.90
 459   1.0  ...     1.75  0.25      1.95      1.90   2.01   1.89     2.12
 460   2.0  ...     2.08 -0.50      1.98      1.88   1.99   1.92     2.03
 461   0.0  ...     2.72 -1.50      2.02      1.83   2.04   1.87     2.08

      MaxCAHA  AvgCAHH  AvgCAHA
 0        NaN      NaN      NaN
 1        NaN      NaN      NaN
 2        NaN      NaN      NaN
 3        NaN      NaN      NaN
 4        NaN      NaN      NaN
 ..       ...      ...      ...
 457     2.12     1.82     2.03
 458     2.17     1.82     2.02
 459     1.96     2.00     1.85
 460     2.02     1.91     1.92
 461     1.92     2.01     1.83

 [2772 rows x 127 columns],
 'German Bundesliga':     Div  season        Date       HomeTeam       AwayTeam  FTHG  FTAG FTR  \
 0    D1      16    26/08/16  Bayern Munich  Werder Bremen     6     0   H
 1    D1      16    27/08/16       Augsburg      Wolfsburg     0     2   A
 2    D1      16    27/08/16       Dortmund          Mainz     2     1   H
 3    D1      16    27/08/16  Ein Frankfurt     Schalke 04     1     0   H
 4    D1      16    27/08/16        FC Koln      Darmstadt     2     0   H
 ..   ..     ...         ...            ...            ...   ...   ...  ..
 301  D1      21  14/05/2022          Mainz  Ein Frankfurt     2     2   D
 302  D1      21  14/05/2022     M'gladbach     Hoffenheim     5     1   H
 303  D1      21  14/05/2022      Stuttgart        FC Koln     2     1   H
 304  D1      21  14/05/2022   Union Berlin         Bochum     3     2   H
 305  D1      21  14/05/2022      Wolfsburg  Bayern Munich     2     2   D

      HTHG  HTAG  ... AvgC<2.5  AHCh  B365CAHH  B365CAHA  PCAHH  PCAHA  \
 0       2     0  ...      NaN   NaN       NaN       NaN    NaN    NaN
 1       0     1  ...      NaN   NaN       NaN       NaN    NaN    NaN
 2       1     0  ...      NaN   NaN       NaN       NaN    NaN    NaN
 3       1     0  ...      NaN   NaN       NaN       NaN    NaN    NaN
 4       1     0  ...      NaN   NaN       NaN       NaN    NaN    NaN
 ..    ...   ...  ...      ...   ...       ...       ...    ...    ...
 301     1     2  ...     2.40 -0.50      1.86      2.04   1.87   2.04
 302     3     1  ...     4.07 -0.25      1.85      2.05   1.83   2.07
 303     1     0  ...     2.67 -0.25      1.92      1.98   1.98   1.94
 304     2     0  ...     2.49 -1.50      1.80      2.00   1.85   2.07
 305     1     2  ...     4.46  1.50      1.93      1.97   1.93   1.97

      MaxCAHH  MaxCAHA  AvgCAHH  AvgCAHA
 0        NaN      NaN      NaN      NaN
 1        NaN      NaN      NaN      NaN
 2        NaN      NaN      NaN      NaN
 3        NaN      NaN      NaN      NaN
 4        NaN      NaN      NaN      NaN
 ..       ...      ...      ...      ...
 301     1.90     2.06     1.87     2.00
 302     1.88     2.08     1.83     2.03
 303     2.03     2.00     1.96     1.91
 304     1.88     2.12     1.82     2.04
 305     2.07     2.05     1.91     1.96

 [1836 rows x 127 columns],
 'English Premier League':     Div  season        Date        HomeTeam     AwayTeam  FTHG  FTAG FTR  \
 0    E0      16    13/08/16         Burnley      Swansea     0     1   A
 1    E0      16    13/08/16  Crystal Palace    West Brom     0     1   A
 2    E0      16    13/08/16         Everton    Tottenham     1     1   D
 3    E0      16    13/08/16            Hull    Leicester     2     1   H
 4    E0      16    13/08/16        Man City   Sunderland     2     1   H
 ..   ..     ...         ...             ...          ...   ...   ...  ..
 375  E0      21  22/05/2022  Crystal Palace   Man United     1     0   H
 376  E0      21  22/05/2022       Leicester  Southampton     4     1   H
 377  E0      21  22/05/2022       Liverpool       Wolves     3     1   H
 378  E0      21  22/05/2022        Man City  Aston Villa     3     2   H
 379  E0      21  22/05/2022         Norwich    Tottenham     0     5   A

      HTHG  HTAG  ... AvgC<2.5  AHCh  B365CAHH  B365CAHA  PCAHH  PCAHA  \
 0       0     0  ...      NaN   NaN       NaN       NaN    NaN    NaN
 1       0     0  ...      NaN   NaN       NaN       NaN    NaN    NaN
 2       1     0  ...      NaN   NaN       NaN       NaN    NaN    NaN
 3       1     0  ...      NaN   NaN       NaN       NaN    NaN    NaN
 4       1     0  ...      NaN   NaN       NaN       NaN    NaN    NaN
 ..    ...   ...  ...      ...   ...       ...       ...    ...    ...
 375     1     0  ...     2.04  0.25      1.68      2.15   1.74   2.23
 376     0     0  ...     2.63 -0.75      1.83      2.07   1.88   2.03
 377     1     1  ...     3.28 -2.50      2.02      1.77   2.06   1.83
 378     0     1  ...     3.36 -2.25      2.06      1.84   2.05   1.86
 379     0     2  ...     2.40  1.50      1.95      1.95   1.96   1.94

      MaxCAHH  MaxCAHA  AvgCAHH  AvgCAHA
 0        NaN      NaN      NaN      NaN
 1        NaN      NaN      NaN      NaN
 2        NaN      NaN      NaN      NaN
 3        NaN      NaN      NaN      NaN
 4        NaN      NaN      NaN      NaN
 ..       ...      ...      ...      ...
 375     1.88     2.25     1.74     2.16
 376     1.94     2.26     1.87     2.01
 377     2.19     1.99     2.07     1.80
 378     2.09     2.03     2.01     1.87
 379     2.16     1.98     1.99     1.89

 [2280 rows x 128 columns],
 'English League 1':     Div  season        Date        HomeTeam            AwayTeam  FTHG  FTAG  \
 0    E2      16    06/08/16          Bolton    Sheffield United     1     0
 1    E2      16    06/08/16        Bradford           Port Vale     0     0
 2    E2      16    06/08/16            Bury            Charlton     2     0
 3    E2      16    06/08/16        Millwall              Oldham     3     0
 4    E2      16    06/08/16     Northampton      Fleetwood Town     1     1
 ..   ..     ...         ...             ...                 ...   ...   ...
 547  E2      21  30/04/2022       Morecambe          Sunderland     0     1
 548  E2      21  30/04/2022          Oxford           Doncaster     1     1
 549  E2      21  30/04/2022        Plymouth  Milton Keynes Dons     0     5
 550  E2      21  30/04/2022  Sheffield Weds          Portsmouth     4     1
 551  E2      21  30/04/2022      Shrewsbury               Wigan     0     3

     FTR  HTHG  HTAG  ... AvgC<2.5  AHCh  B365CAHH  B365CAHA  PCAHH  PCAHA  \
 0     H     1     0  ...      NaN   NaN       NaN       NaN    NaN    NaN
 1     D     0     0  ...      NaN   NaN       NaN       NaN    NaN    NaN
 2     H     0     0  ...      NaN   NaN       NaN       NaN    NaN    NaN
 3     H     2     0  ...      NaN   NaN       NaN       NaN    NaN    NaN
 4     D     1     0  ...      NaN   NaN       NaN       NaN    NaN    NaN
 ..   ..   ...   ...  ...      ...   ...       ...       ...    ...    ...
 547   A     0     1  ...     2.09  0.75      2.05      1.80   2.05   1.84
 548   D     1     0  ...     3.05 -1.50      1.90      1.95   1.96   1.93
 549   A     0     3  ...     1.94  0.25      1.83      2.02   1.81   2.09
 550   H     3     1  ...     2.04 -1.00      1.73      2.15   1.76   2.14
 551   A     0     1  ...     1.73  0.50      1.95      1.90   1.97   1.92

      MaxCAHH  MaxCAHA  AvgCAHH  AvgCAHA
 0        NaN      NaN      NaN      NaN
 1        NaN      NaN      NaN      NaN
 2        NaN      NaN      NaN      NaN
 3        NaN      NaN      NaN      NaN
 4        NaN      NaN      NaN      NaN
 ..       ...      ...      ...      ...
 547     2.09     1.86     2.02     1.81
 548     2.00     1.99     1.92     1.88
 549     1.88     2.09     1.81     2.02
 550     1.90     2.21     1.77     2.07
 551     2.02     1.94     1.94     1.87

 [3160 rows x 128 columns],
 'English League 2':     Div  season        Date        HomeTeam       AwayTeam  FTHG  FTAG FTR  \
 0    E3      16    06/08/16      Accrington      Doncaster     3     2   H
 1    E3      16    06/08/16       Blackpool         Exeter     2     0   H
 2    E3      16    06/08/16       Cambridge         Barnet     1     1   D
 3    E3      16    06/08/16      Cheltenham  Leyton Orient     1     1   D
 4    E3      16    06/08/16    Crawley Town        Wycombe     1     0   H
 ..   ..     ...         ...             ...            ...   ...   ...  ..
 547  E3      21  07/05/2022       Mansfield   Forest Green     2     2   D
 548  E3      21  07/05/2022  Newport County       Rochdale     0     2   A
 549  E3      21  07/05/2022          Oldham   Crawley Town     3     3   D
 550  E3      21  07/05/2022       Stevenage        Salford     4     2   H
 551  E3      21  07/05/2022         Walsall        Swindon     0     3   A

      HTHG  HTAG  ... AvgC<2.5  AHCh  B365CAHH  B365CAHA  PCAHH  PCAHA  \
 0       2     1  ...      NaN   NaN       NaN       NaN    NaN    NaN
 1       1     0  ...      NaN   NaN       NaN       NaN    NaN    NaN
 2       0     0  ...      NaN   NaN       NaN       NaN    NaN    NaN
 3       0     1  ...      NaN   NaN       NaN       NaN    NaN    NaN
 4       0     0  ...      NaN   NaN       NaN       NaN    NaN    NaN
 ..    ...   ...  ...      ...   ...       ...       ...    ...    ...
 547     1     0  ...     2.07 -0.25      1.80      2.05   1.84   2.06
 548     0     1  ...     2.21 -0.50      1.88      1.98   1.88   2.02
 549     2     2  ...     2.30  0.00      1.90      1.95   1.89   2.00
 550     2     1  ...     2.01  0.00      1.85      2.00   1.88   2.01
 551     0     3  ...     2.07  0.75      1.98      1.88   1.97   1.92

      MaxCAHH  MaxCAHA  AvgCAHH  AvgCAHA
 0        NaN      NaN      NaN      NaN
 1        NaN      NaN      NaN      NaN
 2        NaN      NaN      NaN      NaN
 3        NaN      NaN      NaN      NaN
 4        NaN      NaN      NaN      NaN
 ..       ...      ...      ...      ...
 547     1.91     2.06     1.85     1.97
 548     1.96     2.02     1.90     1.91
 549     1.99     2.02     1.91     1.91
 550     1.97     2.04     1.89     1.92
 551     2.02     1.98     1.91     1.91

 [3200 rows x 128 columns]}

In [32]:
# para acceder a un dataframe concreto
dic_historical_data['Spanish La Liga']

,Div,season,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,AvgC<2.5,AHCh,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA
0,SP1,16,19/08/16,La Coruna,Eibar,2,1,H,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,SP1,16,19/08/16,Malaga,Osasuna,1,1,D,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,SP1,16,20/08/16,Barcelona,Betis,6,2,H,3,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,SP1,16,20/08/16,Granada,Villarreal,1,1,D,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,SP1,16,20/08/16,Sevilla,Espanol,6,4,H,3,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375,SP1,21,22/05/2022,Granada,Espanol,0,0,D,0,0,...,2.29,-1.25,2.02,1.88,2.03,1.90,2.06,2.05,1.97,1.90
376,SP1,21,22/05/2022,Osasuna,Mallorca,0,2,A,0,0,...,1.76,0.25,1.68,2.15,1.74,2.23,1.86,2.29,1.77,2.11
377,SP1,21,22/05/2022,Barcelona,Villarreal,0,2,A,0,1,...,2.50,-0.50,2.07,1.83,2.08,1.85,2.09,2.00,1.97,1.91
378,SP1,21,22/05/2022,Sevilla,Ath Bilbao,1,0,H,0,0,...,1.69,0.00,2.01,1.89,2.02,1.90,2.07,2.06,2.00,1.88
379,SP1,21,22/05/2022,Sociedad,Ath Madrid,1,2,A,0,0,...,1.66,0.00,1.91,1.99,1.89,2.01,1.95,2.04,1.90,1.98